/*Btn*/
.btn--long{
  min-width: 260px;
}

/*DOWNLOAD
======================*/

.download{
  margin: 50px 0;
  text-align: center;
}

.download__title{
  margin-bottom: 10px;
  font-size: 24px;
  color: #2d3033;
  font-weight: 300;
}

.download__text{
  margin-bottom: 30px;
  font-size: 13px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}