/*Features===========================
===============================*/

.features{
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.features__item{
  width: 100%;
  padding: 0 0;
  text-align: center;
  margin: 25px 0;
}

.features__icon{
  margin-bottom: 30px;
}

.features__title{
  margin-bottom: 15px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;

  text-transform: uppercase;
}

.features__text{
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}